
name = "EnsembleKalmanProcesses"
uuid = "aa8a2aa5-91d8-4396-bcef-d4f2ec43552d"
authors = ["CLIMA contributors <clima-software@caltech.edu>"]
version = "1.1.5"

[deps]
Convex = "f65535da-76fb-5f13-bab9-19810c17039a"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
GaussianRandomFields = "e4b2fa32-6e09-5554-b718-106ed5adafe9"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
QuadGK = "1fd47b50-473d-5c70-9696-f719f8f3bcdc"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
SCS = "c946c3f1-0d1f-5ce8-9dea-7daa1f7e2d13"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"

[compat]
Convex = "0.15, 0.16"
Distributions = "~0.24.14, ^0.25"
DocStringExtensions = "^0.8, 0.9"
GaussianRandomFields = "2"
LinearAlgebra = "1"
MathOptInterface = "1"
Optim = "1.7"
QuadGK = "^2.4"
Random = "1"
RecipesBase = "1.3"
SCS = "1.1, 2"
SparseArrays = "1"
StableRNGs = "1.0"
Statistics = "1"
StatsBase = "^0.33, 0.34"
TOML = "1"
julia = "1.5, 1.6, 1.7, 1.8, 1.9"

[extras]
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["StableRNGs", "Test", "Plots"]
