name: Documentation

on:
  push:
    branches:
      - main
      - trying
      - staging
    tags: '*'
  pull_request:
    paths:
      - 'docs/**'
      - 'src/**'
      - 'Project.toml'
      - 'Manifest.toml'
      - '.github/workflows/**'

jobs:
  docs-build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.6'
          show-versioninfo: 'true'
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JULIA_DEBUG: Documenter
        run: julia --color=yes --project=docs/ docs/make.jl
